@model DDDExample.Mvc.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<article class="container well">
    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Recuperação de Senha</legend>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Login, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe seu Login", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodigoRecover, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.CodigoRecover, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe o código de recuperação", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.CodigoRecover, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe a nova senha", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirme e nova senha", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-specific">Enviar</button>
                    @Html.ActionLink("Voltar", "RecoverPassword", null, new { @class = "btn btn-default btn-specific" })
                </div>
            </div>
        </fieldset>
    }
</article>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
