@model DDDExample.Mvc.Models.UsuarioModel
@{
    ViewBag.Title = "Usuários";
}

@using (Html.BeginForm("Edit", "Usuario", FormMethod.Post, new { @class = "well" }))
{
    @Html.AntiForgeryToken()

    <legend><i class="fa fa-user fa-fw"></i>Editar Usuário</legend>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UsuarioId)
        @Html.HiddenFor(model => model.DataCadastro)
        @Html.HiddenFor(model => model.CodigoRecover)
        @Html.HiddenFor(model => model.UltimoAcesso)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe o nome" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PerfilId, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("PerfilId", null, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PerfilId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe o email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Informe o login" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div id="ListPermissoesId"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default btn-specific" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default btn-specific" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/usuario")
}
